// General Styles
$backgroundColorLight: #e0e0e0;
$backgroundColorDark: #222222;

$cardColorLight: #d0d0d0;
$cardColorDark: #333333;

$cardHoverColorLight: #aa88ff;
$cardHoverColorDark: #666666;

$cardActiveColorLight: #bb99ff;
$cardActiveColorDark: #777777;

$cardBorderLight: #909090;
$cardBorderDark: #e0e0e0;

$cardInnerBorder: #a0a0a0;

$cardShadowLight: #aa88ff;
$cardShadowDark: #000000;

$fontColorLight: #333333;
$fontColorDark: #e0e0e0;

$accentColorLight: #8866dd;
$accentColorDark: #aa88ff;

* {
  box-sizing: border-box;
}

@mixin center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin paragraph {
  font-weight: 200;
  font-size: 20px;
}

@mixin title {
  font-weight: 500;
  font-size: 40px;
}

.accent {
  @media (prefers-color-scheme: light) {
    color: $accentColorLight;
  }

  @media (prefers-color-scheme: dark) {
    color: $accentColorDark;
  }
}

.container-fluid {
  @include center;
}

.inner-redirect {
  font-weight: 100;
  text-decoration: underline 1px;
  padding: 1em;
  cursor: pointer;

  @media (prefers-color-scheme: light) {
    color: $fontColorLight;
  }

  @media (prefers-color-scheme: dark) {
    color: $fontColorDark;
  }
}

// index.js
#root {
  font-family: "Poppins", serif;
  @include paragraph;
  margin: 0;
  height: 100vh;
  @include center;

  @media (prefers-color-scheme: light) {
    background-color: $backgroundColorLight;
    color: $fontColorLight;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $backgroundColorDark;
    color: $fontColorDark;
  }
}

// Portfolio.jsx
#main-card {
  @media (prefers-color-scheme: light) {
    box-shadow: 0px 0px 5px 2px $cardShadowLight;
    background-color: $cardColorLight;
    border: 1px solid $cardBorderLight;
  }

  @media (prefers-color-scheme: dark) {
    box-shadow: 0px 0px 5px 2px $cardShadowDark;
    background-color: $cardColorDark;
    border: 1px solid $cardBorderDark;
  }
}

.card-btn {
  width: 2em !important;
  height: 2em;
  cursor: pointer;
  @include center;

  &:hover {
    @media (prefers-color-scheme: light) {
      background-color: $cardHoverColorLight;
    }

    @media (prefers-color-scheme: dark) {
      background-color: $cardHoverColorDark;
    }
  }

  &:active {
    @media (prefers-color-scheme: dark) {
      background-color: $cardActiveColorLight;
    }

    @media (prefers-color-scheme: dark) {
      background-color: $cardActiveColorDark;
    }
  }

  &.active {
    @media (prefers-color-scheme: light) {
      background-color: $cardActiveColorLight;
    }
    
    @media (prefers-color-scheme: dark) {
      background-color: $cardActiveColorDark;
    }
  }
}

// Home.jsx
#profile-info {
  padding: 0.5em;
  border-bottom: 1px solid $cardInnerBorder;
}

#sections {
  padding-left: 0.6em;
  padding-right: 0.6em;
}

#profile-image {
  border-radius: 50%;
}

.section {
  @include center;
  flex-direction: column;
  border-right: 1px solid $cardInnerBorder;
  padding: 0.5em;
  cursor: pointer;

  &:last-of-type {
    border-right: 0;
  }

  &:hover {
    @media (prefers-color-scheme: light) {
      background-color: $cardHoverColorLight;
    }

    @media (prefers-color-scheme: dark) {
      background-color: $cardHoverColorDark;
    }
  }

  &:active {
    @media (prefers-color-scheme: dark) {
      background-color: $cardActiveColorLight;
    }

    @media (prefers-color-scheme: dark) {
      background-color: $cardActiveColorDark;
    }
  }
}

.section-icon {
  font-size: 40px;
  margin: 0.25em;
}

// Projects.jsx
#projects-info {
  padding: 0.5em;
  border-bottom: 1px solid $cardInnerBorder;
}

#projects {
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.project-item {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;

  &>* {
    width: 85%;
    @include center;
  }
}

.carousel-control-prev {
  justify-content: start !important;
}

.carousel-control-next {
  justify-content: end !important;
}

// ProjectTemplate.jsx
$demoFrameHeight: 70vh;

#project-template {
  padding: 0.5em;
  @include center;
  flex-direction: column;
}

#demo-frame {
  height: $demoFrameHeight;
  width: 100%;

  @media (prefers-color-scheme: light) {
    box-shadow: 0px 0px 5px 2px $accentColorLight;
  }

  @media (prefers-color-scheme: dark) {
    box-shadow: 0px 0px 5px 2px $accentColorDark;
  }
}

// Airspace.jsx
$airspaceAccentColor: #484C64;
$airspaceAccentHoverColor: #585C74;
$airspaceAccentActiveColor: #686C84;

$airspaceHeaderColor: #424242;
$airspaceBackgroundColor: #f7f7f7;

#airspace {
  height: $demoFrameHeight;
  font-size: 12px;
  background-color: $airspaceBackgroundColor;
  color: $airspaceHeaderColor;
}

#airspace-nav {
  background-color: $airspaceAccentColor;
  height: $demoFrameHeight;
  color: $airspaceBackgroundColor;
  font-weight: 500;
  width: auto;

  & ul {
    list-style-type: none;
    padding: 0;
    cursor: pointer;

    &>ul {
      padding-left: 1em;
    }
  }

  & li {
    padding: 0.15em;
    border-bottom: 1px solid $airspaceAccentHoverColor;

    &:hover {
      background-color: $airspaceAccentHoverColor;
    }

    &:active {
      background-color: $airspaceAccentActiveColor;
    }
  }
}

#airspace-header {
  border-bottom: 1px solid $airspaceAccentColor
}

#airspace-main {
  padding: 0.5em;
}

.btn-airspace {
  padding: 0.1em 0.3em;
  margin: 0.1em;
  background-color: $airspaceAccentColor;
  color: $airspaceBackgroundColor;
  width: min-content;
  height: 1.5em;
  border-radius: 0.25em;
  text-wrap-mode: nowrap;
  cursor: pointer;
  @include center;

  &:hover {
    background-color: $airspaceAccentHoverColor;
  }

  &:active {
    background-color: $airspaceAccentActiveColor;
  }
}