// General Styles
$backgroundColorLight: #e0e0e0;
$backgroundColorDark: #222222;

$cardColorLight: #d0d0d0;
$cardColorDark: #333333;

$cardHoverColorLight: #aa88ff;
$cardHoverColorDark: #666666;

$cardActiveColorLight: #bb99ff;
$cardActiveColorDark: #777777;

$cardBorderLight: #909090;
$cardBorderDark: #e0e0e0;

$cardInnerBorder: #a0a0a0;

$cardShadowLight: #aa88ff;
$cardShadowDark: #000000;

$fontColorLight: #333333;
$fontColorDark: #e0e0e0;

$accentColorLight: #8866dd;
$accentColorDark: #aa88ff;

* {
  box-sizing: border-box;
}

@mixin center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin paragraph {
  font-weight: 200;
  font-size: 20px;
}

@mixin title {
  font-weight: 500;
  font-size: 40px;
}

.accent {
  @media (prefers-color-scheme: light) {
    color: $accentColorLight;
  }

  @media (prefers-color-scheme: dark) {
    color: $accentColorDark;
  }
}

.container-fluid {
  @include center;
}

// index.js
#root {
  font-family: "Poppins", serif;
  @include paragraph;
  margin: 0;
  height: 100vh;
  @include center;

  @media (prefers-color-scheme: light) {
    background-color: $backgroundColorLight;
    color: $fontColorLight;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $backgroundColorDark;
    color: $fontColorDark;
  }
}

// Portfolio.jsx
#main-card {
  @media (prefers-color-scheme: light) {
    box-shadow: 0px 0px 5px 2px $cardShadowLight;
    background-color: $cardColorLight;
    border: 1px solid $cardBorderLight;
  }

  @media (prefers-color-scheme: dark) {
    box-shadow: 0px 0px 5px 2px $cardShadowDark;
    background-color: $cardColorDark;
    border: 1px solid $cardBorderDark;
  }
}

.card-btn {
  width: 2em !important;
  height: 2em;
  cursor: pointer;
  @include center;

  &:hover {
    @media (prefers-color-scheme: light) {
      background-color: $cardHoverColorLight;
    }

    @media (prefers-color-scheme: dark) {
      background-color: $cardHoverColorDark;
    }
  }

  &:active {
    @media (prefers-color-scheme: dark) {
      background-color: $cardActiveColorLight;
    }

    @media (prefers-color-scheme: dark) {
      background-color: $cardActiveColorDark;
    }
  }

  &.active {
    @media (prefers-color-scheme: light) {
      background-color: $cardActiveColorLight;
    }
    
    @media (prefers-color-scheme: dark) {
      background-color: $cardActiveColorDark;
    }
  }
}

// Home.jsx
#profile-info {
  padding: 0.5em;
  border-bottom: 1px solid $cardInnerBorder;
}

#sections {
  padding-left: 0.6em;
  padding-right: 0.6em;
}

#profile-image {
  border-radius: 50%;
}

.profile-section {
  @include center;
  flex-direction: column;
  border-right: 1px solid $cardInnerBorder;
  padding: 0.5em;
  cursor: pointer;

  &:last-of-type {
    border-right: 0;
  }

  &:hover {
    @media (prefers-color-scheme: light) {
      background-color: $cardHoverColorLight;
    }

    @media (prefers-color-scheme: dark) {
      background-color: $cardHoverColorDark;
    }
  }

  &:active {
    @media (prefers-color-scheme: dark) {
      background-color: $cardActiveColorLight;
    }

    @media (prefers-color-scheme: dark) {
      background-color: $cardActiveColorDark;
    }
  }
}

.section-icon {
  font-size: 40px;
  margin: 0.25em;
}